body {
  background:#fff;
  color:#222;
  font:18px/30px 'Helvetica Neue Light', 'Helvetica Neue', sans-serif;
  font-weight:300;
  width:600px;
  margin:0 auto;
}

a, code {
  color:#1F2780;
}

.map {
  border:2px solid #000;
  width:600px;
  height:300px;
}

.link-panel {
  font:24px/30px 'Helvetica Neue', sans-serif;
  padding:5px 10px;
  background:#fdfb8f;
  border:1px solid #fdfb8f;
  display:block;
  margin:10px 0;
  text-decoration:none;
}

.link-panel:hover {
  border:1px solid #000;
}
