body {
  margin:0;
  padding:0;
  background:#F7FFFF;
  color:#333;
  font:12px/20px 'Verdana', sans-serif;
}

a, code {
  color:#1F2780;
}

div.download {
  padding:10px 0;
}

div.download a {
  font:20px/30px 'Verdana', sans-serif;
}

.column {
  width:600px;
  margin:10px auto;
}

#map {
  border:2px solid #000;
  width:600px;
  height:300px;
}

.mmg-default {
  background:#aff379;
  border:1px solid #000;
  display:block;
  width:10px;
  height:10px;
}

.my-custom {
  background:#222;
  border:2px solid #faf45a;
  color:#fff;
  display:block;
  padding:4px;
}

div.gist {
  font-size:11px;
}
